// @ COLORS
$color-white: rgba(255, 255, 255, 1);

$color-delete-button: linear-gradient(90deg, #D30707 0%, #F05353 68.65%);
$color-add-button: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
$color-primary-button: rgba(231, 238, 251, 1);

$color-text-primary: rgba(0, 0, 0, 1);
$color-text-secondary: rgba(0, 0, 0, 0.54);
$color-border-icon: rgba(176, 187, 209, 1);

$color-drop-shadow: rgba(16, 24, 40, 0.18);
$color-modal-backdrop: rgba(255, 255, 255, 0.8);

$checkbox-bg-completed: rgba(160, 220, 246, 1);
$hover-color: rgba(247, 249, 253, 1);

$color-border-primary: rgba(215, 221, 233, 1);
$color-border-secondary: rgba(234, 236, 240, 1);
$color-border-tertiary: rgba(215, 221, 233, 1);
$color-border-task: rgba(215, 221, 233, 1);
$color-border-task-completed: rgba(7, 150, 211, 1);
$color-border-task-not-completed: rgba(176, 187, 209, 1);


// @ PADDINGS
$button-padding-top: 16px;
$button-padding-right: 24px;
$button-padding-bottom: 16px;
$button-padding-left: 24px;
$container-padding: 16px;


// @ RADIUS
$radius-small: 8px;
$radius-medium: 16px;


// @ BORDERS
$border-primary: 1px solid $color-border-primary;
$border-secondary: 1px solid $color-border-secondary;
$border-tertiary: 1px solid $color-border-tertiary;
$border-task: 1px dotted $color-border-task;
$border-task-completed: 1px solid $color-border-task-completed;
$border-task-not-completed: 1px solid $color-border-task-not-completed;
