@import "../../app/resources/styles/variables.module";

.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-header;
  border-bottom: $border-primary;

  @media (max-width: 768px) {
    align-items: flex-start;
    flex-flow: column wrap;
  }
}
